html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}



/* Page
=============*/

.page {
    width: 100%;
    height: 100vh;
    min-height: 770px;

    background: #000 url("../img/bg.jpg") center no-repeat;
    background-size: cover;

    position: relative;
    overflow: hidden;
}

/* Header
==============*/

.header {
    padding: 1rem 0;
    margin-bottom: 108px;

    background-color: #2B7DED;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;

    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color 0.2s linear;
}

.header-nav-link:hover {
    color: #5aa6dd;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: 0;
}



/* Content
=============*/


.content {
    height: 100%;
    width: 100%;
    max-width: 565px;
}

.subtitle {
    font-weight: 300;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6) ;
}

.title {
    margin-bottom: 35px;

    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    line-height: 1.2;

}

.contact-subtitle {
    margin-bottom: 7px;

    font-weight: 500;
    font-size: 2rem;
    color: #fff;
}

.title span {
    color: #2B7DED;
}

.text {
    margin-bottom: 50px;

    font-weight: 400;
    font-size: 1rem;
    color: #fff;

}


/* Btn
=============*/

.btn {
    display: inline-block;
    padding: 12px 35px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;
    color:  #fff;
    text-decoration: none;

    cursor: pointer;
    background-color: #2B7DED;
    border-radius: 5px;
    border: 0;

    transition: background .2s linear;
}

.btn:hover {
    background-color: #0851b4;
}

.btn-full {
    display: block;
    width: 100%;
}


/* Author */

.author {
    height: 450px;

    position: absolute;
    right: -30px;
    bottom: 0;
    z-index: 2;

}


/* Footer
=============*/

.footer {
    width: 100%;

    position: absolute;
    bottom: 45px;
    left: 0;
}


/* Contacts
=============*/

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;

    text-decoration: none;
}

.contacts-link:last-child{
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin-left: 2rem;

    background-color: #fff;
    pointer-events: none;

    position: absolute;
    left: 100%;
    top: 10px;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contact-icon {
    margin-right: 7px;
}


/* Form
=============*/

.form {
    width: 100%;
    max-width: 280px;

}

.form-group {
    margin-bottom: 20px;
}

.input,
.textarea {
    display: block;
    width: 100%;
    padding: 12px 18px;


    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;

    border: none;
    background-color: rgba(255, 255, 255, .1);

    border-radius: 5px;

}

.textarea {
    height: 100px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: #fff;
}



/* Media
=============*/

@media (max-width: 1000px) {
    .author {
        right: -50px;
    }

}

@media (max-width: 767px) {

    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 2rem;
    }

    /* Header */
    .header {
        margin-bottom: 3rem;
    }


    .header-logo {
        display: none;
    }

    .header-brand {
        font-size: 1.2rem;
    }





    /* Content */
    .content {
        margin-bottom: 3rem;
        max-width: none;
        text-align: center;
    }


    /* Form */
    .form {
        margin: 0 auto;
    }



    /* Footer */
    .footer {
       position: static;
    }


        /* Contacts */
    .contacts {
        flex-direction: column;

    }

    .contacts-link {
        margin-right: 0;
        margin-bottom: .5rem;
    }

    .contacts-link:last-child {
        margin-bottom: 0;
    }

     .contacts-link:last-child:after {
        display: none;
    }

    .author {
        display: none;
    }

}

@media (max-width: 565px) {

    /* Header */
    .header-inner {
        flex-direction: column;
    }

    .header-brand {
        margin-bottom: 1rem;
    }
}


@media (max-width: 320px) {
    .subtitle {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.6rem;
    }
}



















